<TMPL_IF NAME="enabled">
<Alias transactionid="">
    <Interface><TMPL_VAR NAME="interface"></Interface>
    <Name><TMPL_VAR NAME="name"></Name>
    <IPFamily><TMPL_VAR NAME="ip_family"></IPFamily>
    <IPAddress><TMPL_VAR NAME="ip_address"></IPAddress>
    <Netmask><TMPL_VAR NAME="netmask"></Netmask>
</Alias>
</TMPL_IF>
