<TMPL_LOOP NAME="certificates">
<Certificate>
	<Action>UploadCertificate</Action>
	<Name><TMPL_VAR NAME="name"></Name>
	<Password></Password>
	<CertificateFormat>pem</CertificateFormat>
	<CertificateFile><TMPL_VAR NAME="certificate_file"></CertificateFile>
	<PrivateKeyFile><TMPL_VAR NAME="private_key_file"></PrivateKeyFile>
</Certificate>
</TMPL_LOOP>