<TMPL_LOOP NAME="objects"><GatewayHost transactionid="">
    <Name><TMPL_VAR NAME="name"></Name>
    <IPFamily>IPv4</IPFamily>
    <GatewayIP><TMPL_VAR NAME="gateway_ip"></GatewayIP>
    <Interface/>
    <NATPolicy/>
    <Healthcheck>OFF</Healthcheck>
    <MailNotification>OFF</MailNotification>
</GatewayHost>
</TMPL_LOOP>
