<NATRule transactionid="">
    <Name>#NAT_Default_Network_Policy</Name>
    <Description/>
    <IPFamily>IPv4</IPFamily>
    <Status>Enable</Status>
    <Position>Top</Position>
    <LinkedFirewallrule>#Default_Network_Policy</LinkedFirewallrule>
    <TranslatedDestination>Original</TranslatedDestination>
    <TranslatedService>Original</TranslatedService>
    <OverrideInterfaceNATPolicy>Disable</OverrideInterfaceNATPolicy>
    <TranslatedSource>MASQ</TranslatedSource>
</NATRule>

<TMPL_LOOP NAME="nat">
    <NATRule transactionid="">
        <Name><TMPL_VAR NAME="name"></Name>
        <Description><TMPL_VAR NAME="description"></Description>
        <IPFamily>IPv4</IPFamily>
        <Status><TMPL_VAR NAME="status"></Status>
        <LinkedFirewallrule>None</LinkedFirewallrule>
        <OriginalServices>
            <Service><TMPL_VAR NAME="orig_service"></Service>
        </OriginalServices>
        <TranslatedService><TMPL_VAR NAME="trans_service"></TranslatedService>
        <TranslatedSource>Original</TranslatedSource>
        <TranslatedDestination><TMPL_VAR NAME="trans_dest"></TranslatedDestination>
        <OverrideInterfaceNATPolicy>Disable</OverrideInterfaceNATPolicy>
        <NATMethod>0</NATMethod>
        <HealthCheck>Disable</HealthCheck>
        <Position>After</Position>
        <After>
            <Name>TODO:???</Name>
        </After>
    </NATRule>
</TMPL_LOOP>
