<PPTPConfiguration transactionid="">
  <PPTPSettings>
    <PPTPGeneralSettings><TMPL_VAR NAME="general_settings"></PPTPGeneralSettings>
    <AssignIPFrom>
      <StartIP><TMPL_VAR NAME="start_ip"></StartIP>
      <EndIP><TMPL_VAR NAME="end_ip"></EndIP>
    </AssignIPFrom>
    <LeaseIPFromRadiusServer><TMPL_VAR NAME="lease_ip_from_radius"></LeaseIPFromRadiusServer>
    <PrimaryDNSServer><TMPL_VAR NAME="primary_dns"></PrimaryDNSServer>
    <SecondaryDNSServer><TMPL_VAR NAME="secondary_dns"></SecondaryDNSServer>
    <PrimaryWINSServer><TMPL_VAR NAME="primary_wins"></PrimaryWINSServer>
    <SecondaryWINSServer><TMPL_VAR NAME="secondary_wins"></SecondaryWINSServer>
  </PPTPSettings>
</PPTPConfiguration>