<Services transactionid="">
    <Name><TMPL_VAR NAME="name"></Name>
    <Type><TMPL_VAR NAME="type"></Type>
    <ServiceDetails>
    <TMPL_IF name="tcpudp">
        <TMPL_LOOP NAME="details"><ServiceDetail>
            <SourcePort><TMPL_VAR name="port_src"></SourcePort>
            <DestinationPort><TMPL_VAR name="port_dst"></DestinationPort>
            <Protocol><TMPL_VAR name="protocol"></Protocol>
        </ServiceDetail></TMPL_LOOP>
    </TMPL_IF>
    <TMPL_IF NAME="ip">
        <ServiceDetail>
            <ProtocolName><TMPL_VAR name="protocol_name"></ProtocolName>
        </ServiceDetail>
    </TMPL_IF>
    <TMPL_IF NAME="icmp">
        <ServiceDetail>
            <ICMPType><TMPL_VAR name="icmp_type"></ICMPType>
            <ICMPCode><TMPL_VAR name="icmp_code"></ICMPCode>
        </ServiceDetail>
    </TMPL_IF>
    <TMPL_IF NAME="icmpv6">
        <ServiceDetail>
            <ICMPv6Type><TMPL_VAR name="icmp_type"></ICMPv6Type>
            <ICMPv6Code><TMPL_VAR name="icmp_code"></ICMPv6Code>
        </ServiceDetail>
    </TMPL_IF>
    </ServiceDetails>
</Services>