<SSLTunnelAccessSettings transactionid="">
  <Protocol><TMPL_VAR NAME="protocol"></Protocol>
  <SSLServerCertificate><TMPL_VAR NAME="certificate"></SSLServerCertificate>
  <OverrideHostName/>
  <Port><TMPL_VAR NAME="port"></Port>
  <IPLeaseRange>
    <StartIP><TMPL_VAR NAME="start_ip"></StartIP>
  </IPLeaseRange>
  <SubnetMask><TMPL_VAR NAME="subnet_mask"></SubnetMask>
  <IPv6Lease><TMPL_VAR NAME="ipv6_lease"></IPv6Lease>
  <IPv6Prefix><TMPL_VAR NAME="ipv6_prefix"></IPv6Prefix>
  <LeaseMode><TMPL_VAR NAME="lease_mode"></LeaseMode>
  <PrimaryDNSIPv4/>
  <SecondaryDNSIPv4/>
  <PrimaryWINSIPv4/>
  <SecondaryWINSIPv4/>
  <DomainName/>
  <DisconnectDeadPeerAfter>180</DisconnectDeadPeerAfter>
  <DisconnectIdlePeerAfter>15</DisconnectIdlePeerAfter>
  <EncryptionAlgorithm><TMPL_VAR NAME="encryption_algorithm"></EncryptionAlgorithm>
  <AuthenticationAlgorithm><TMPL_VAR NAME="authentication_algorithm"></AuthenticationAlgorithm>
  <Keysize>2048bit</Keysize>
  <KeyLifetime><TMPL_VAR NAME="key_lifetime"></KeyLifetime>
  <CompressSSLVPNTraffic><TMPL_VAR NAME="compression"></CompressSSLVPNTraffic>
  <DebugMode><TMPL_VAR NAME="debug"></DebugMode>
  <SecurityHeartbeat>Disable</SecurityHeartbeat>
  <SaveCredential>Disable</SaveCredential>
  <TwoFAToken>Disable</TwoFAToken>
  <AdLogon>Disable</AdLogon>
  <AutoConnect>Disable</AutoConnect>
  <HostorDNSName/>
  <StaticIPAddresses>Disable</StaticIPAddresses>
</SSLTunnelAccessSettings>